[Unit]
Description=bsc
After=syslog.target network.target

[Service]
Type=simple
User=stackops
Group=stackops
MemoryLimit=30G
Environment=DATA_DIR=/home/stackops/binance/bsc-node
ExecStart=/home/stackops/binance/binance/bsc-node/run.sh
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=60
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
